.ui.basic.modal.createBoard
  i.close.icon
  .header.item.centered
    | Create a new board
  .content
    .description
      |This is a test form for submitting data to the boards
      form.ui.form(name="form", method="post", action="/createBoard", ng-contoller="form", novalidate)
        .field
          label.Name
          input(type="text", name="name", id="name", placeholder="Name", required, ng-model="name")
        .field
          label.Short
          textarea(rows="2", name="description", placeholder="description", ng-model="description")
        .field
          label
          input(type="text", name="imageLink", id="imageLink", placeholder="Image Link", required, ng-model="imageLink")
        .actions
          .two.fluid.ui.inverted.buttons
            button.ui.green.basic.inverted.button(type="submit")
              i.checkmark.icon
                | Submit

.ui.basic.modal.signup
  i.close.icon
  .header.item.centered
    | Sign Up for So much more!
  .content
    .description
      form.ui.form.segment.signup(name="form", method="post", action="/signup", ng-contoller="form", novalidate)
        .two.fields
          .field
            input(type="text", name="firstname", id="firstname", placeholder="First name", ng-model="firstname")
          .field
            input(type="text", name="lastname", id="last", placeholder="Last name", ng-model="lastname")
        .field
          input(type="text", name="email", id="email", placeholder="Email", ng-model="name")
        .two.fields
          .field
            input(type="password", name="password", id="password", placeholder="Password",  ng-model="password")
          .field
            input(type="text", name="homeCity", id="homeCity", placeholder="City",  ng-model="homeCity")
        .two.fields
          .field
            .ui.selection.dropdown
              input(name='gender', type='hidden', ng-model="gender")
              .default.text Gender
              i.dropdown.icon
              .menu
                .item(data-value='male') Male
                .item(data-value='female') Female
          .field
            input(type="text" name="homeCountry", placeholder="Country", ng-model="homeCountry")
        .actions
          .one.fluid.ui.inverted.buttons
            button.ui.green.basic.inverted.button(type="submit")
              i.checkmark.icon
                | Submit

.ui.basic.modal.login
  i.close.icon
  .header.item.centered
    | Create a new board
  .content
    .description
      |This is a test form for submitting data to the boards
      form.ui.form(name="form", method="post", action="/login", ng-contoller="form", novalidate)
        .field
          label.Name
          input(type="text", name="email", id="email", placeholder="E-mail", required, ng-model="email")
        .field
          label
          input(type="password", name="password", id="password", placeholder="Password", required, ng-model="password")
        .actions
          .two.fluid.ui.inverted.buttons
            button.ui.red.basic.inverted.button
              i.remove.icon
                | Close
            button.ui.green.basic.inverted.button(type="submit")
              i.checkmark.icon
                | Submit
