.ui.three.column.devided.padded.grid.Meny
	.row.middle.aligned
		.column
			.ui.borderless.menu.text
				.item
					i.icon.inverted.purple.circle.notched
					a.browse.item.createBoardBTN
						| Create Board
		.column
			.logo
				a(href="/")
					img(src="/images/THOSEPLACESlogo.png")
		.column
			.ui.borderless.menu.text
				.item.ui.right
					a.login.item.loginBTN
						| Login
				.item.ui.right
					a.browse.item.singUpBtn
						| Sign Up
				.item.ui.right
					
				.ui.dropdown.icon.item.right
					i.dropdown.icon.circular.purple
					.menu
						.item
							p About Us
						.item
							p Contact Us
						.devider
						.item
							p Terms & Conditions
						.item
							p Give us feedback
			
include ./_modals.jade			
			
