extends ./layout.jade
block content
        header#colors
          .headerInner
            .ui.internally.celled.grid.center.aligned
              .row
                .three.wide.column
                  p Alpha v 1.0.1
                .ten.wide.column
                  form(name="form", method="post", action="/", ng-contoller="form", novalidate)
                    .ui.fluid.icon.input.action
                        input(type="text" placeholder="Search For something" name="searchBoard")
                        button.ui.basic.purple.button
                          | Search
                .three.wide.column
                  button.ui.purple.basic.button
                    | Inspire me
            
        |     
        section#boardPresent
          .container-fluid
            .col-lg-12
              .row
                .msnry
                  .msnry-sizer
                .board-items 
                    .msnry-item
                      .boardObj.special.cards
                        .ui.card
                          .content
                            .right.floated.meta
                              | #{boards.boardShortName}
                          .image.blurring.dimmable
                            .ui.dimmer
                              .content
                                .center
                                  .ui.inverted.button More
                            img(src='#{boards.mainImageLink}')
                          .content
                            .meta
                              a 
                            .description
                              | #{boards.boardDescription}
                          .extra.content
                            span.left.floated
                              button.blue.ui.button
                                |Book
                            span.right.floated
                              a(href='') 
        |  
