extends ./layout.jade
block content
  header#colors
    .headerInner
      .ui.internally.celled.grid.center.aligned
        .row
          .eight.wide.column
              h1 Welcome #{user.firstname} 
          .eight.wide.column
            h1 Hello #{user.lastname}
  section#dashboard
    .ui.internally.celled.grid.padded
      .row
        .six.wide.column 
          .heading
            h1 Welcome #{user.firstname}
          .content  
            form.ui.form.segment(name="form", method="post", action="/dashboard", ng-contoller="form", novalidate)
              .two.fields
                .field
                  input(type="text", name="firstname", id="firstname", placeholder="#{user.firstname}", ng-model="firstname")
                .field
                  input(type="text", name="lastname", id="last", placeholder="#{user.lastname}", ng-model="lastname")
              .field.disabled
                input(type="text", name="email", disabled="",  id="email", placeholder="#{user.email}", ng-model="name")
              .two.fields
                .field
                  input(type="text" name="homeCountry", placeholder="#{user.homeCountry}", ng-model="homeCountry")
                .field
                  input(type="text", name="homeCity", id="homeCity", placeholder="#{user.homeCity}",  ng-model="homeCity")
              .actions
                .one.fluid.ui.inverted.buttons
                  button.ui.green.basic.inverted.button(type="submit")
                    i.checkmark.icon
                      | Submit 
        .ten.wide.column
          h2.ui.center.aligned.icon.header
            i.circular.users.icon
            | Fallowing
          each board in boards
            .ui.cards
              .card
                .content
                  .header
                    | Name Goes here
                  .meta
                    | Friends
                  .description
                    | #{board.boardShortName}
