extends ./layout.jade

block content
        header#colors
          .headerInner
            .ui.internally.celled.grid.center.aligned
              .row
                .three.wide.column
                  p Alpha v 1.0.1 
                .ten.wide.column
                  form(name="form", method="post", action="/", ng-contoller="form", novalidate)
                    .ui.fluid.icon.input.action
                        input(type="text" placeholder="Search For something" name="searchBoard")
                        button.ui.basic.purple.button
                          | Search
                .three.wide.column
                  button.ui.purple.basic.button
                    | Inspire me
            
        |     
        section#boardPresent
          .container-fluid
            .col-lg-12
              .row
                .msnry
                  .msnry-sizer
                .board-items 
                  each board in boards
                    .msnry-item
                      .boardObj.special.cards
                        .ui.card
                          .content
                            .right.floated.meta
                              | #{board.boardShortName}
                          .image.blurring.dimmable
                            .ui.dimmer
                              .content
                                .center
                                  .ui.inverted.button More
                            img(src='#{board.mainImageLink}')
                          .content
                            .header
                              a(href='users/' + board.createdBy)
                                |#{board.createdBy}
                            .meta
                              a 
                            .description
                              p
                                | #{board.boardDescription}
                              span.right.floated
                                |  #{board.createdAt}
                          .extra.content
                            span.left.floated
                              button.blue.ui.button
                                |Book
                            span.right.floated
                              if (data)
                                button.ui.button.fallow(data-action="follow user", data-id="#{board.createdBy}"  data-user="#{user.email}")
                                  | Fallow
                              else 
                                button.ui.button.ui.button.fallow(data-action="follow user", data-id="#{board.createdBy}")
                                  | Fallow
                                
                          
        |  
