doctype html
html(lang="en")
		include ./partials/_head.jade
		body#page-top
			.container-fluid
				include ./partials/_nav.jade
				block content
			
			script(src='/javascripts/jquery.js')
			script(src="http://cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/3.0.4/jquery.imagesloaded.js")
			script(src='/semantic/dist/semantic.min.js')
			script(src='https://npmcdn.com/masonry-layout@4.0/dist/masonry.pkgd.min.js')
			script(src='/javascripts/main.js')
		
