extends ./layout.jade
block content
  section#dashboard  
    .ui.segments
      .segment.basic
        .ui.container
          .ui.two.column.middle.aligned.very.relaxed.stackable.grid
                .column
                  form.ui.form(name="form", method="post", action="/login", ng-contoller="form", novalidate)
                    .field
                      label Username
                      .ui.left.icon.input
                        input(type="text", name="email", id="email", placeholder="E-mail", required, ng-model="email")
                        i.user.icon
                      if (error)
                        .ui.red.basic.pointing.label
                          | Invalid email
                    .field
                      label Password
                      .ui.left.icon.input
                        input(type="password", name="password", id="password", placeholder="Password", required, ng-model="password")
                        i.lock.icon
                      if (err)
                        .ui.left.red.basic.pointing.label
                          | Invalid password
                    .field
                      button.ui.blue.submit.button(type="submit")
                        | Sing in 
                  
                .ui.vertical.divider
                  | Or
                .center.aligned.column
                  .ui.big.green.labeled.icon.button.singUpBtn
                    i.signup.icon
                    |       Sign Up
