extends ./layout.jade
block content
  section#dashboard
    .ui.internally.celled.grid.padded
      .row
        .four.wide.column 
          .ui.card
            .content 
              .header
                p #{user.firstname}
              .meta
                | ## Relationship to you ##
            .image
              img(src="https://s-media-cache-ak0.pinimg.com/736x/43/58/cf/4358cfbc0c36572904404ef18e240661.jpg")
            table.ui.definition.table
              tbody
                tr
                  td Status
                  td #{user.status}
                tr
                  td Name
                  td #{user.firstname} #{user.lastname}
                tr
                  td City
                  td #{user.homeCity} 
            .ui.bottom.attatched.button.blue.fallow
              i.icon.add
              | Add friend
        .twelve.wide.column
          h2.ui.center.aligned.icon.header
            i.circular.users.icon
            | Fallowing
          .ui.cards
            .card
              .content
                .header
                  | Name Goes here
                .meta
                  | Friends
                .description
                  | 
