@import "bootstrap.min.css";
@import "animate.min.css";
.headerInner {
  margin-top: 20px;
  background: #f2f2f2;
  padding: 20px;
}
.header-search {
  margin: 20px 0 20px 0;
  padding: 20px;
  border: 1px solid #ccc;
}
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}
h1 {
  color: #ffa500;
}
.Meny {
  border-bottom: 1px solid #ccc;
}
.logo {
  padding: 0 30%;
}
.logo img {
  width: 100%;
  height: auto;
}
#dashboard {
  margin-top: 25px;
}
form.signup {
  background: none !important;
}
.msnry-sizer,
.msnry-item {
  width: 19%;
  margin-top: 20px;
}
.msnry-item img {
  width: 100%;
  height: auto;
}
.boardObj {
  marign-top: 20px;
}
