@import "bootstrap.min.css"
@import "animate.min.css"
@import "head.styl"
@import "index.styl"

body
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
a
  color: #00B7FF

h1
  color:orange

.Meny
  border-bottom: 1px solid #ccc

.logo
  padding:0 30%

.logo img{
    width:100%
    height: auto
}

#dashboard
  margin-top: 25px

//Signup Form
form.signup
  background: none!important;

// MSONRY
.msnry-sizer,
.msnry-item {
  width: 19%;
  margin-top:20px
}

.msnry-item img {
  width: 100%;
  height:auto
}

.boardObj{
  marign-top: 20px
}
